#root {
    height: 100%;
    width: 100%;
    display: flex;
}
.amcharts-chart-div a {display:none !important;}
#root {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 800px;
    height: 800px;
    background-color: #fff;
  }